#<IfModule mod_rewrite.c>
#    Options +FollowSymlinks
#    RewriteEngine On
#
#    # Fix the assets folder
#    RewriteRule ^assets/(.*)$ web/assets/$1  [QSA,L]
#
#    RewriteCond %{REQUEST_FILENAME} !-f
#
#    RewriteRule ^(.*)$ web/$1 [QSA,L]
#</IfModule>